$color-primary: #2AA0A6;
$color-secondary: #9DAE84;
$color-accent: #FBA542;

$color-faq-background: #EDEAD6;
$color-faq-label-hover: #0F7075;

$color-text: #042B2D;
$color-white: #fff;
$color-black: #000;
$color-gray: #f2f2f2;

// Font Defaults
$default-font-size: 1.6rem;
$default-font-family: 'optima', serif;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 2rem;
